{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Task Create</title>
</head>
<body>
    <h1>New task</h1>
    <div class="form">
        <form action="/article/add" method="post">
            {% csrf_token %}
            <div class="form_row">
                <label for="description">Description</label>
                <textarea name="description" id="description" cols="30" rows="10"></textarea>
            </div>
            <div class="form_row">
                <label for="status">Status</label>
                <input type="text" id="status" name="status">
                </div>
            <div class="form_row">
                <label for="execution_date">Planned due date:</label>
                <input type="text" id="execution_date" name="execution_date">
            </div>
            <div class="form_row">
                <input type="submit">
            </div>
        </form>
    </div>


</body>
</html>