{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>index page</title>
</head>
<body>
<div class="container">
    <h1>To-Do list</h1>
    <a href="article/add">Add task</a>
    {% for article in articles %}
    <h2>{{ article.description }}</h2>
    <h2>{{ article.status }}</h2>
    <h2>{{ article.execution_date }}</h2>
    <p>
        <a href="./article/?pk={{ article.pk }}">Подробнее..</a>
    </p>
    {% endfor %}
</div>
</body>
</html>